<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />
<div>
    <h1>Tài Khoản/ Thẻ của bạn</h1>
</div>
<div>
    <p>Số tài khoản: <%= bank.accountNumber %> </p>
    <hr>
    <p>Tài khoản mặc định: <%= bank.defaultMoney %> </p>
    <hr>
    <p>Tài khoản tiết kiệm: <%= bank.savingMoney %> </p>
</div>

<%- include ('templatefooter.ejs') -%>