<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />
<hr />
<h1 style="text-align: center;">Gửi tiết kiệm không có kỳ hạn</h1>

<h5>Tên chủ tài khoản: <input type="text" class="form-control" id="accountNumber" name="accountNumber"
    value="<%= currentUser.displayName %>" disabled>  </h5>
<h5>Email: <input type="text" class="form-control" id="accountNumber" name="accountNumber"
    value="<%= currentUser.email %>" disabled>  </h5>
<h5>Số dư hiện tại: <input type="text" class="form-control" id="accountNumber" name="accountNumber"
    value="<%= bank.defaultMoney %> VNĐ" disabled>  </h5>
    

<br />
<hr />
<div class="row">
    <div class="col-md-7">
        <div class="container">
            <p><%= war %></p>
            <form action="" method="post">
                <input class="form-control" type="number" name="money" id="money" placeholder="Số tiền gửi">
                <br>
                <input class="form-control" type="submit" value="Gửi">
            </form>
        </div>
    </div>
    <div class="col-md-4" style="margin-top: 10vw; margin-left: 2vw;">
        <%- include ('ToolRight.ejs') -%>
    </div>
</div>

<%- include ('templatefooter.ejs') -%>