<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />
<div class="container">
    <h1>a</h1>
    <img src="<%= bitmap %>" alt="">
</div>

<%- include ('templatefooter.ejs') -%>
