<title>Thông tin cá nhân</title>
<link rel="stylesheet" href="css/imgcmn.css">
<script src=""></script>
<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />
<div>
  <h1 style="text-align: center;">Cập Nhật Thông Tin Tài Khoản</h1>
  <br />
  <hr />
</div>
<div>
  <div>
    <div class="container">
      <form method="POST" action=""  >
        <div style="margin-left:20vw;margin-right:20vw;">
        <div class="form-group">
          <div>
            <h5 for="">Họ và tên:
              <input style="margin-top: 10px;" type="text" class="form-control" name="displayName" id="displayName"
                value="<%= currentUser.displayName %> "></h5>
          </div>
          <div>
            <h5 for="">Email:
              <input style="margin-top: 10px;" type="text" class="form-control" name="email" id="email" value="<%= currentUser.email %>" disabled>
            </h5>
          </div>
          <div>

            <% if(currentUser.CMND && currentUser.codeCMND == "0"){ %>
            <div>
              <h5 for="">CMND:
                <input style="margin-top: 10px;" class="form-control"  type="text" name="CMND" id="CMND" value="<%= currentUser.CMND %>" disabled></h5>
            </div>
            <% }else { %>
              <% if(currentUser.CMND && currentUser.pictureCMND && currentUser.codeCMND == "1" ){ %>
              <% } %>
              <% if(currentUser.CMND && currentUser.pictureCMND && currentUser.codeCMND == "2" ){ %>
                <p>CMND chưa đầy đủ mong bạn cập nhật lại</p>
                <% } %>
              <div>
                <h5 for="">CMND:
                  <input style="margin-top: 10px;" type="text" class="form-control" name="CMND" id="CMND" value="<%= currentUser.CMND %>"></h5>
              </div>
              <div>
                <h5 for="">Ảnh:
                  <div>
                    <div class="avatar-wrapper">
                      <img class="profile-pic" src="<%= currentUser.pictureCMND%>" />
                      <div class="upload-button">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                      </div>
                      <input class="file-upload" id="CMNDimg"  name= "CMNDimg" type="file"/>
                    </div>
                  </div>
              </div>
            </fieldset>
            <% } %>

          </div>
          <button style="margin-left:10vw; justify-content: center;" type="submit" id = "submit" class="btn btn-primary mb-2">Cập Nhật</button>
          </hr>
        </div>



      </form>
    </div>
  </div>
</div>


<script>
  var base64;
  $(document).ready(function() {
  var readURL = function(input) {
      if (input.files && input.files[0]) {
        console.log(input.files);
          var reader = new FileReader();

          reader.onload = async function (e) {
              base64 = e.target.result;
              $('.profile-pic').attr('src', e.target.result);
              console.log(e.target.files);

          }
          reader.readAsDataURL(input.files[0]);
      }
  }
 
  $(".file-upload").on('change', function(){
      readURL(this);
  });
  
  $(".upload-button").on('click', function() {
     $(".file-upload").click();
  });
 
});
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
<script>
  $(document).ready(function(){
    var imageCMND,displayName,CMND;
    $("#submit").click(function(){
      imageCMND= base64;
      displayName=$("#displayName").val();
      CMND=$("#CMND").val();
      $.post("/profile",{imageCMND: imageCMND,displayName:displayName, CMND:CMND }, function(data){
        if(data==='yes') {
            console.log("success");
          }
      });
    });
  });
  {a:b}
</script>



<%- include ('templatefooter.ejs') -%>