<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />
<div>
  <h1 style="text-align: center;">Cập Nhật Thông Tin Tài Khoản</h1>
  <br />
  <hr />
</div>
<div>
  <div>
    <div class="container">
      <form method="POST" action="">
        <div style="margin-left:11vw;margin-right:11vw;">
        <div class="form-group">
          <div>
            <h5 for="">Họ và tên:
              <input type="text" class="form-control" name="displayName" id="displayName"
                value="<%= currentUser.displayName %> "></h5>
          </div>
          <div>
            <h5 for="">Email:
              <input type="text" class="form-control" name="email" id="email" value="<%= currentUser.email %>" disabled>
            </h5>
            <% if(currentUser.token == null) {%>
            <%} else{ %> <a href="/activateEmail">GỬI XÁC THỰC</a>
            <% } %>
          </div>
          <div>

            <% if(currentUser.CMND && currentUser.currentUser == "0"){ %>
            <div>
              <h5 for="">CMND:
                <input type="text" name="email" id="email" value="<%= currentUser.CMND %>" disabled></h5>
            </div>

            <% }else{ %>
            <fieldset>
              <!-- <legend>CMND:</legend>  -->
              <% if(currentUser.CMND && currentUser.pictureCMND1 && currentUser.pictureCMND1){ %>
              <a href="/activateCMND">GỬI XÁC THỰC</a>
              <% } %>
              <div>
                <h5 for="">CMND:
                  <input type="text" class="form-control" name="email" id="email" value="<%= currentUser.CMND %>"></h5>
              </div>
              <div>
                <h5 for="">Ảnh mặt trước:
                  <input type="file" name="email" id="email" value="<%= currentUser.pictureCMND1 %>"></h5>
              </div>
              <div>
                <h5 for="">Ảnh mặt sau:
                  <input type="file" name="email" id="email" value="<%= currentUser.pictureCMND2 %>"></h5>
              </div>
            </fieldset>
            <% } %>

          </div>
          <hr>
          <button style="margin-left:20vw;margin-right:11vw;" type="submit" class="btn btn-primary mb-2">Cập Nhật</button>
          </hr>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include ('templatefooter.ejs') -%>