<title>Gửi tiết kiệm</title>
<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />
<hr />
<h1 style="text-align: center;">Gửi tiết kiệm</h1>
<div style="width: 54%;margin-left: 1.5%;">
    <h5 style="margin-top: 20px;">Tên chủ tài khoản: <input style="margin-top: 10px;" type="text" class="form-control" id="accountNumber" name="accountNumber"
        value="<%= currentUser.displayName %>" disabled>  </h5>
    <h5 style="margin-top: 20px;">Email: <input style="margin-top: 10px;" type="text" class="form-control" id="accountNumber" name="accountNumber"
        value="<%= currentUser.email %>" disabled>  </h5>
    <h5 style="margin-top: 20px;">Số dư hiện tại: <input style="margin-top: 10px;" type="text" class="form-control" id="accountNumber" name="accountNumber"
        value="<%= bank.defaultMoney %> VNĐ" disabled>  </h5>
</div>
    
<hr>
<br />

<div class="row">
    <div class="col-md-7">
        <div class="container"> 
            <form action="" method="post">
                <label for=""> <h5>Kỳ hạn: </h5></label>
                <select class="form-control" name="term">
                    <% interest.forEach(function(i){ %>
                    <option value="<%= i.id %>"><%= i.Name %></option>
                    <% }); %>
                </select>
                <br>
                
                <h5>Số tiền gửi: </h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="money" name="money" placeholder="Số tiền gửi">
                    <div class="input-group-prepend">
                      <span class="input-group-text">VNĐ</span>
                    </div>
                  </div>
                  <br/>
                  <hr/>
                  <!-- <button type="submit" class="btn btn-primary mb-2"> Gửi </button> -->
                <input class="form-control" type="submit" value="Gửi">
            </form>
        </div>
    </div>
    <div class="col-md-4" style="margin-top: 10vw; margin-left: 2vw;">
        <%- include ('ToolRight.ejs') -%>
    </div>
</div>

<%- include ('templatefooter.ejs') -%>