<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />
<hr />
<h1 style="text-align: center;">Gửi tiết kiệm có kỳ hạn</h1>

<h5>Tên chủ tài khoản: <input type="text" class="form-control" id="accountNumber" name="accountNumber"
    value="<%= currentUser.displayName %>" disabled>  </h5>
<h5>Email: <input type="text" class="form-control" id="accountNumber" name="accountNumber"
    value="<%= currentUser.email %>" disabled>  </h5>
<h5>Số dư hiện tại: <input type="text" class="form-control" id="accountNumber" name="accountNumber"
    value="<%= bank.defaultMoney %> VNĐ" disabled>  </h5>
    
<hr>
<br />

<div class="row">
    <div class="col-md-7">
        <div class="container"> 
            <form action="" method="post">
                <label for=""> <h5>Kỳ hạn: </h5></label>
                <select class="form-control" name="term">
                    <option value="1">3 tháng</option>
                    <option value="2">6 tháng</option>
                    <option value="3">1 năm</option>
                </select>
                <br>
                
                <h5>Số tiền gửi: </h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="money" name="money" placeholder="Số tiền gửi">
                    <div class="input-group-prepend">
                      <span class="input-group-text">VNĐ</span>
                    </div>
                  </div>
                  <br/>
                  <hr/>
                  <!-- <button type="submit" class="btn btn-primary mb-2"> Gửi </button> -->
                <input class="form-control" type="submit" value="Gửi">
            </form>
        </div>
    </div>
    <div class="col-md-4" style="margin-top: 10vw; margin-left: 2vw;">
        <%- include ('ToolRight.ejs') -%>
    </div>
</div>

<%- include ('templatefooter.ejs') -%>