<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />
<div>
    <h1 style="text-align: center;">Lịch Sử Chuyển Tiền</h1>
    <br />
    <hr />
</div>
<div  style="margin-left:11vw;margin-right:11vw;" >
<div class="container">
    <ul class="list-group" >
        <% History.forEach(function(h){ %>
            <li class="list-group-item active">Mã giao dịch: <%= h.code %> </li>
            <li class="list-group-item">Tài khoản người nhận: <%= h.accountReceiver %></li>
            <li class="list-group-item">Tên người nhận: <%= h.nameReceiver %></li>
            <li class="list-group-item">Số tiền:  <%= h.Money %></li>
            <li class="list-group-item">Thời gian: <%= h.date %></li>  
            <li class="list-group-item">Nội dụng: <%= h.content %></li>  
            <li class="list-group-item">Trạng thái giao dịch: <%= h.status %></li>  
            <br>
        <% }); %>
  
       
    </ul>  
    

</div>
</div>
<%- include ('templatefooter.ejs') -%>

