<title>Giao dịch</title>
<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />
<h1 style="text-align: center;">Giao Dịch</h1>
<hr/>
<br/>
<div class="row" >
    <div class="col-md-7">
        <div class="container">
            <form method="POST">
                <div class="form-group">
                    
                    <h5>Mã giao dịch: <input type="text" class="form-control" id="accountNumber" name="accountNumber"
                        value="<%= transaction.code %>" disabled> </h5>
                    <h5>Tài khoản gửi: <input type="text" class="form-control" id="accountNumber" name="accountNumber"
                        value="<%= transaction.accuontSender %>" disabled> </h5>
                    <h5>Tài khoản nhận:   <input type="text" class="form-control" id="accountNumber" name="accountNumber"
                        value="<%= transaction.accountReceiver %>" disabled> </h5>
                    <h5>Tên người nhận: <input type="text" class="form-control" id="accountNumber" name="accountNumber"
                        value="<%= transaction.nameReceiver %>" disabled> </h5>
                    <h5>Số tiền chuyển: <input type="text" class="form-control" id="accountNumber" name="accountNumber"
                        value="<%= transaction.Money %>" disabled> </h5>
                    <h5>Phí chuyển: <input type="text" class="form-control" id="accountNumber" name="accountNumber"
                        value="<%= fee.fee %>" disabled></h5>
                    <h5>Nội dung:  <input type="text" class="form-control" id="accountNumber" name="accountNumber"
                        value="<%= transaction.content %>" disabled></h5>
                </div>
                <br/>
                <hr/>

                <input class="form-control" type="text" id="code" name="code" placeholder="Mã xác thực">
                <p style="font-size: 14px;">Vui lòng nhập mã chuyển khoản để thực hiện giao dịch này.</p>
                <button  style="margin-left:13vw;margin-right:11vw;" type="submit" class="btn btn-primary mb-2">Tiếp tục</button>
            </form>
            <br/>
        </div>
    </div>
    <div class="col-md-4">
        <%- include ('ToolRight.ejs') -%>
    </div>
</div>
    

<%- include ('templatefooter.ejs') -%>
