<title>Chi phí chuyển khoản</title>
<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />

<h1 style="text-align: center;">Quản Lý Chi Phí Chuyển Khoản</h1>
<hr>
<body>
    <form action="" method="post">
    
        <% fees.forEach(function(fee){ %>
            <input type="number" name="id" style="display: none;" value="<%= fee.id %>">
            <label for=""> <h5>Tên phí</h5>
            <input type="text" style="margin-bottom:  20px;" name="namefee" class="form-control acttc" id="namefee" value="<%= fee.Name %>"> </label>
            <br>
            <label for=""><h5>Số tiền</h5>
            <input type="number" name="fee" class="form-control acttc" id="fee" value="<%= fee.fee %>">  </label>
            <br>
            <hr>
        <% }); %>
       
      
        <button style="margin-left:5.5vw;margin-right:auto;" type="submit" id = "submit" class= "form-control acttc">Thay Đổi</button>
    </form>
</body>
   
</div>

<%- include ('templatefooter.ejs') -%> 
<style>
    .acttc
    {
      width: 30vw;
      margin-left: auto;
      margin-right: auto;
      float: left;
  
    }
    h5 {
        float:left;
        margin-right: 1vw;
    }
  </style>