<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />
<hr />
<h1 style="text-align: center;">Quản Lý Chi Phí Chuyển Khoản</h1>
<hr>
<body>
    <form action="" method="post">
    
        <% fees.forEach(function(fee){ %>
            <label for="">Tên phí</label>
            <input type="text"name="name" value="<%= fee.Name %>">
            <br>
            <hr>
            <label for="">Số tiền</label>
            <input type="number" name="fee" value="<%= fee.fee %>">  
            <br>
            <hr>
        <% }); %>
       
      
        <button style="margin-left:25vw;margin-right:11vw;" type="submit" id = "submit" class= "form-control acttc">Thay Đổi</button>
    </form>
</body>
   
</div>

<%- include ('templatefooter.ejs') -%> 
<style>
    .acttc
    {
      width: 20vw;
      margin-left: auto;
      margin-right: auto;
  
    }
  </style>