<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />
<hr />

<body>
  <div class="container">
    <br>
  <h1 style="text-align: center;">Quản Lý Tài Khoản Khách Hàng</h1>
  <hr>
  </br>
  <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Họ và Tên</th>
          <th scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
          <% users.forEach(function(user){ %>
        <tr>
          <th scope="col"><%= user.email %> </th>
          <th scope="col"><%= user.displayName %></th>
          <th scope="col">
          <% if(user.block === false){ %> 
          <a href="guestAccount/<%=user.email%>/block">Khóa account</a>
          <% } else { %>
          <a href="guestAccount/<%=user.email%>/unblock">Mở account</a>
          <% }%>
          </th>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  </div>
</body>
   
</div>

<%- include ('templatefooter.ejs') -%>