<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />


<body>
  <div class="container">
    <br>
  <h1 style="text-align: center;">Quản Lý Tài Khoản Khách Hàng</h1>
  <hr>
  </br>
    <div class="container">
      <ul class="list-group" >
          <% banks.forEach(function(bank){ %>
              <li class="list-group-item active">Email: <%= bank.user.email %> </li>
              <li class="list-group-item">Số tài khoản: <%= bank.accountNumber %></li>
              <li class="list-group-item">Họ và tên: <%= bank.user.displayName %></li>
              <li class="list-group-item">Thao tác: <% if(bank.user.block === false){ %> 
                <a href="guestAccount/<%=bank.user.email%>/block">Khóa account</a>
                <% } else { %>
                <a href="guestAccount/<%=bank.user.email%>/unblock">Mở account</a>
                <% }%></li>
              <br>
          <% }); %>
      </ul>  
  </div>
  </div>
  </div>
</body>
   
</div>

<%- include ('templatefooter.ejs') -%>