<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />


<body>
  <form action="" method="post">
    <input type="text" name="temp" placeholder="Số Hóa Đơn | Số tài khoản" class="form-control acttc">
    <input type="submit" value="Tìm Kiếm" class="form-control" style="float: left; width: 10vw; margin-left: 2vw;">
  </form>
  <div class="container" style="clear: both;">
    </br>
    </br>
    <h1 style="text-align: center;">Lịch Sử Nạp Tiền Của Khách Hàng</h1>
    <br>
    <div class="container">
      <ul class="list-group" >
          <% recharge.forEach(function(r){ %>
              <li class="list-group-item active">Mã hóa đơn: <%= r.code %> </li>
              <li class="list-group-item">Số tài khoản: <%= r.accuontRecharge %></li>
              <li class="list-group-item">Họ và tên: <%= r.nameRecharge %></li>
              <li class="list-group-item">Số tiền:  <%= r.Money %></li>
              <li class="list-group-item">Ngày giao dịch: <%= r.date %></li>  
              <li class="list-group-item">Nội dung: <%= r.content %></li>  
              <br>
          <% }); %>
      </ul>  
  </div>
  </div>
  </div>
</body>

</div>

<%- include ('templatefooter.ejs') -%>

<style>
  .acttc {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    float: left;
  }
</style>