<title>Phí tài khoản tiết kiệm</title>
<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />

<h1 style="text-align: center;">Phí tài khoản tiết kiệm</h1>
<hr>
<body>
    <form action="" method="post">
    
        <% inteRestates.forEach(function(inteRestate){ %>
           <div>
            <input type="number" name="id" style="display: none;" value="<%= inteRestate.id %>">
            <label for=""><h5>Kì hạn lãi suất</h5>
            <input type="text"name="nameinterest" class="form-control acttc" value="<%= inteRestate.Name %>"></label>
    
            <label for=""><h5>Lãi suất</h5>
            <input type="number" name="interest" class="form-control acttc"  step=0.01 value="<%= inteRestate.interest %>">  
          </label>
            <label for=""><h5>Số tháng</h5>
            <input type="number" name="numberMonth" class="form-control acttc" value="<%= inteRestate.numberMonth %>">  </label>
           </div>
           <hr/>
        <% }); %>
       
      
        <button style="margin-left:25vw;margin-right:11vw; margin-top: 2vw" type="submit" id = "submit" class= "form-control acttc">Thay Đổi</button>
    </form>
</body>
   
</div>

<%- include ('templatefooter.ejs') -%> 
<style>
    .acttc
    {
      width: 20vw;
      margin-left: auto;
      margin-right: 2vw;
  
    }
  </style>