<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">
        <input type="text" placeholder="Email | Số tài khoản | CMND">
        <input type="submit" value="Tìm Kiếm">
        </form>


        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Email</th>
                <th scope="col">Họ và Tên</th>
                <th scope="col">Số tài khoản</th>
                <th scope="col">CMND</th>
                <th scope="col">Thao tác</th>
              </tr>
            </thead>
            <tbody>
                <% banks.forEach(function(bank){ %>
              <tr>
                <th scope="col"><%= bank.user.email %> </th>
                <th scope="col"><%= bank.user.displayName %></th>
                <th scope="col"><%= bank.accountNumber %></th>
                <th scope="col"><%= bank.user.CMND %></th>
                <th><a role="button" href="/card/<%= bank.accountNumber %>">Nạp tiền</a></th>  
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
</body>
</html>