<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />


<body>
  <h1 style="text-align: center;">Tìm Kiếm Tài Khoản</h1>
  <hr>
  <div class="container">
      <form action="" method="post">
      <input type="text" name="temp" placeholder="Email | Số tài khoản | CMND"  class= "form-control actt">
      <br>
      <button style="margin-left:30vw;margin-right:11vw;" type="submit" id = "submit" class="btn btn-primary mb-2">Tìm Kiếm</button>
      </br>
    </form>

<br>
      <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">Email</th>
              <th scope="col">Họ và Tên</th>
              <th scope="col">Số tài khoản</th>
              <th scope="col">CMND</th>
              <th scope="col">Thao tác</th>
            </tr>
          </thead>
          <tbody>
              <% banks.forEach(function(bank){ %>
            <tr>
              <th scope="col"><%= bank.user.email %> </th>
              <th scope="col"><%= bank.user.displayName %></th>
              <th scope="col"><%= bank.accountNumber %></th>
              <th scope="col"><%= bank.user.CMND %></th>
              <th><a role="button" href="/card/<%= bank.accountNumber %>">Nạp tiền</a></th>  
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
</body>
   
</div>

<%- include ('templatefooter.ejs') -%> 

<style>
  .actt
  {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;

  }
    
  
</style>