<%- include ('templateheader.ejs') -%>
<%- include ('templateleft.ejs') -%>
<br />

<%- include ('templateright.ejs') -%>
<br />


<body>
  <h1 style="text-align: center;">Tìm Kiếm Tài Khoản</h1>
  <hr>
  <div class="container">
      <form action="" method="post">
      <input type="text" name="temp" placeholder="Email | Số tài khoản | CMND"  class= "form-control actt">
      <br>
      <button style="margin-left:30vw;margin-right:11vw;" type="submit" id = "submit" class="btn btn-primary mb-2">Tìm Kiếm</button>
      </br>
    </form>

<br>
        <div class="container">
          <ul class="list-group" >
              <% banks.forEach(function(bank){ %>
                  <li class="list-group-item active">Email: <%= bank.user.email %> </li>
                  <li class="list-group-item">Họ và tên: <%= bank.user.displayName %></li>
                  <li class="list-group-item">Số tài khoản: <%= bank.accountNumber %></li>
                  <li class="list-group-item" style="margin-bottom: 2vw;"><a role="button" href="/card/<%= bank.accountNumber %>">Nạp tiền</a>
              <% }); %>
          </ul>  
      </div>
      </div>
</body>
   
</div>

<%- include ('templatefooter.ejs') -%> 

<style>
  .actt
  {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;

  }
    
  
</style>